	<footer>
		<p>Hangman v1.4.5 | Developed by <a href="http://lucasfads.com.br" target="_blank">Lucas Fernandes</a>.</p>
		<p>Words provided by <a href="https://www.lists.design/" target="_blank">Lists.design</a>.</p>
	</footer>

</body>
</html>