<% include ./partials/header %>

<script type="text/javascript">
	var list = [];
</script>
<%
nameOfObject = Object.keys(parsedData)[0]
parsedData[nameOfObject].forEach(function(item){ %>
	<script type="text/javascript">list.push("<%= item['data'] %>")</script>
<% }) %>
<script type="text/javascript" src="/script.js"></script>

<a id="back" href="/">Theme selection</a>
<button onclick="newGame()">New Game</button>
<button onclick="resetGame()">Reset Game</button>

<p id="hint">Theme: <%= theme.toUpperCase() %></p>

<div id="board">
	<div class="line" id="line1">
	</div>
	<div class="line" id="line2">
	</div>
	<div class="line" id="line3">
	</div>
</div>

<div id="enter">
	<span>Letter:</span>
	<input id="letter" type="text" maxlength="1" onkeyup="letterPress(this.value.toUpperCase())" autofocus>
</div>

<div id="wrong-list">
</div>

<% include ./partials/footer %>