<% include ./partials/header %>

<script type="text/javascript">
	var list = [];

	function decodeEntities(encodedString) {
    var translate_re = /&(nbsp|amp|quot|lt|gt);/g;
    var translate = {
        "nbsp":" ",
        "amp" : "&",
        "quot": "\"",
        "lt"  : "<",
        "gt"  : ">"
    };
    return encodedString.replace(translate_re, function(match, entity) {
        return translate[entity];
    }).replace(/&#(\d+);/gi, function(match, numStr) {
        var num = parseInt(numStr, 10);
        return String.fromCharCode(num);
    });
}

</script>
<%

nameOfObject = Object.keys(parsedData)[0]
parsedData[nameOfObject].forEach(function(item){ %>
	<script type="text/javascript">list.push(decodeEntities("<%= item['data'] %>"))</script>
<% }) %>
<script type="text/javascript" src="/script.js"></script>

<section>
	<a id="back" href="/">Theme selection</a>
	<button onclick="newGame()">New Game</button>
	<button onclick="resetGame()">Reset Game</button>

	<p id="hint">Theme: <%= theme.toUpperCase() %></p>

	<div id="board-container">
		
		<div id="board">
			<div class="line" id="line1">
			</div>
			<div class="line" id="line2">
			</div>
			<div class="line" id="line3">
			</div>
		</div>

		<div id="board-bottom">
			<div id="enter">
				<span>Letter:</span>
				<input id="letter" type="text" maxlength="1" onkeyup="letterPress(this.value.toUpperCase())" autofocus>
			</div>

			<div id="mistakes">
				<div id="counter">
					<span>6</span> mistakes left
				</div>
				<div id="wrong-list">
				</div>
			</div>
		</div>
		
	</div>
	
	
</section>

<div id="overlay" class="overlay-hide">
	<div id="alert-box">
		<div id="alert">You Win!</div>
		<a id="back" href="/">Theme selection</a>
		<button onclick="newGame()">New Game</button>
		<button onclick="resetGame()">Reset Game</button>
	</div>
</div>

<% include ./partials/footer %>