<% include ./partials/header %>

<section>
<h2>Select a theme</h2>
	<ul id="themes">
		<li><a href="/g/animals-en">Animals</a></li>
		<li><a href="/g/celebrities">Celebrities</a></li>
		<li><a href="/g/cities">Cities</a></li>
		<li><a href="/g/countries">Countries</a></li>
		<li><a href="/g/food-en">Food</a></li>
		<li><a href="/g/fruits-en">Fruits</a></li>
		<li><a href="/g/movies">Movies</a></li>
		<li><a href="/g/teamssoccer">Soccer Teams</a></li>
		<li><a href="/g/tvshows">TV Shows</a></li>
	</ul>
</section>

<% include ./partials/footer %>