html {
	height: 100%;
}

body {
	height: 100%;
	background-color: #2c3e4f;
	text-align: center;
/*	padding: 10px;*/
	margin: 0px;
}

body * {
	font-family: 'Open Sans', sans-serif;
	outline: none;
}

section {
	max-width: 1200px;
	margin: 0px auto;
	padding: 15px;
}

@media (min-width: 768px) {
	/*body {
		padding: 30px;
	}*/
}

/** THEMES **/
h2 {
	color: #ffffff;
}

#themes {
	list-style: none;
	margin: 60px 0px;
	padding: 0px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: stretch;
}

#themes li {
	margin: 10px;
	flex: 1 1 0;
}

#themes a {
	display: inline-block;
	padding: 15px 30px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background-color: #ffffff;
	border-radius: 5px;
	text-decoration: none;
	font-size: 21px;
	color: #000000;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (min-width: 768px) {
	#themes {
		justify-content: center;
	}

	#themes li {
		margin: 15px;
	}

	#themes a {
		padding: 30px;
	}
}

/** GAME **/
#viewport {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#game-container {
	flex: 1 10 0;
	overflow-y: auto;
}

#game-header {
	display: flex;
	align-items: center;
	margin: 0px 0px 30px;
	justify-content: space-between;
}

#theme {
 	margin: 0px 15px;
 	font-weight: normal;
 	font-size: 21px;
}

#back, #new-game {
	display: inline-block;
	border:none;
	background: #2e81b7;
	border-radius: 3px;
	color: #ffffff;
	font-size: 13px;
	padding: 10px 20px;
	text-decoration: none;
	cursor: pointer;
}

#back:hover, #new-game:hover {
  	background: #3a99d9;
   	text-decoration: none;
}

#enter {
	color: #ffffff;
	font-size: 21px;
}

#board-container {
	width: fit-content;
	margin: 0px auto;
}

#board {
	margin-bottom: 30px;
/*	background-color: #3a99d9;*/
	display: inline-block;
/*	border-radius: 5px;*/
}

.line {
	display: flex;
	flex-wrap: wrap;
	width: fit-content;
	font-size: 34px;
	margin: 15px 0px;
}

.line .word {
	display: inline-block;
	margin: 5px;
	text-align: left;
}

.line .letter {
	display: inline-block;
	width: 34px;
	height: 55px;
	line-height: 55px;
	margin: 2px;
	border-radius: 3px;
	vertical-align: text-bottom;
	background-color: #ffffff;
	color: #333333;
	font-weight: bold;
	text-align: center;
}

#board-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/** KEYBOARD **/
#keyboard-container {
	flex: 0 1 0;
	box-sizing: border-box;
    width: 100%;
    background: #E5E9EA;
    padding: 15px 5px;
}

#keyboard {
	max-width: 600px;
	margin: 0px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

#keyboard-selector {
	padding: 10px;
}

#keyboard-selector button {
	background: transparent;
	border: none;
	cursor: pointer;
	font-size: 13px;
	font-weight: bold;
	color: #717171;
	padding: 0px 5px;
}

#keyboard-selector button.active {
	color: #4787F3;
}

#lifes {
	list-style: none;
	margin: 0px;
	padding: 10px;
}

#lifes li {
	display: inline-block;
}

#lifes i {
	color: #F18181;
}

#lifes li.mistake i {
	color: #333333;
}

#keys {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 5px 0px 0px;
}

.key {
	background: #F9F9FB;
	border: none;
	border-radius: 3px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
	min-width: 30px;
	text-align: center;
	padding: 10px 5px;
	margin: 2px;
	cursor: pointer;
}

.fade {
	opacity: 0.20;
}

.key-break {
	width: 100%;
}

#qwerty {

}

.qwerty #q {
	order: 1;
}

.qwerty #w {
	order: 2;
}

.qwerty #e {
	order: 3;
}

.qwerty #r {
	order: 4;
}

.qwerty #t {
	order: 5;
}

.qwerty #y {
	order: 6;
}

.qwerty #u {
	order: 7;
}

.qwerty #i {
	order: 8;
}

.qwerty #o {
	order: 9;
}

.qwerty #p {
	order: 10;
}

.qwerty span:nth-child(11) {
	order: 11;
}

.qwerty #a {
	order: 12;
}

.qwerty #s {
	order: 13;
}

.qwerty #d {
	order: 14;
}

.qwerty #f {
	order: 15;
}

.qwerty #g {
	order: 16;
}

.qwerty #h {
	order: 17;
}

.qwerty #j {
	order: 18;
}

.qwerty #k {
	order: 19;
}

.qwerty #l {
	order: 20;
}

.qwerty span:nth-child(21) {
	order: 21;
}

.qwerty #z {
	order: 22;
}

.qwerty #x {
	order: 23;
}

.qwerty #c {
	order: 24;
}

.qwerty #v {
	order: 25;
}

.qwerty #b {
	order: 26;
}
.qwerty #n {
	order: 27;
}
.qwerty #m {
	order: 28;
}

@media (min-width: 768px) {
	.line {
		font-size: 42px;
	}

	.line .word {
		margin: 5px 10px;
	}

	.line .letter {
		width: 55px;
		height: 84px;
		line-height: 84px;
	}
}

/** ALERT **/
#overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 60px;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0px;
	left: 0px;
	justify-content: center;
	align-items: center;
}

.overlay-hide {
	display: none;
}

.overlay-show {
	display: flex;
}

#alert {
	color: #ffffff;
	font-weight: bold;
	font-size: 89px;
	margin: 0px 0px 60px;
}

/** FOOTER **/
footer {
	margin: 30px 0px;
}

footer * {
	color: #ffffff;
	text-align: center;
	font-size: 13px;
}

footer p {
	margin: 5px;
}